name: lists
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        
      - name: Update Lists
        run: ./scripts/refresh_lists.sh
        
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-lists
          sign-commits: true
          title: "internal/list: update block/allow lists"
          commit-message: |
            internal/list: update block/allow lists
            
            This commit contains an automatic update for the block/allow lists performed by GitHub Actions.
          body: "This commit contains an automatic update for the block/allow lists performed by GitHub Actions."
          signoff: true
          reviewers: davidsbond
          labels: github_actions
